<div class="header">
  <h3 class="text-muted">chatty</h3>
</div>

<h4>Latest Chats:</h4>
<div class="jumbotron">

		
	<form ng-submit="addMessage(newMessage, newName)">
			<input ng-model="newName" type="text" placeholder="User Name!">
		<input ng-model="newMessage" type="text" placeholder="Hello!">
		
	</form>
	<button ng-click="addMessage(newMessage, newName)">Submit Me</button>

	<div ng-repeat="message in messages | orderBy: '-time' track by $index" >
	 User<	{{message.name}}> &nbsp	{{message.message}} : {{message.time | date: "shortTime"}}
	 <hr>
	</div>

</div>
